@use './variables' as *;
@use './breakpoints' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block($color) {
    border-radius: $border-radious-sm;
    padding: 7rem 1.5rem;
    background: $color;

    @include mq(medium) {
        border-radius: $border-radious-md;
        padding: 7rem 2.5rem;
    }

    @include mq(large) {
        padding: 7rem 5.5rem;
    }
}

