@use '../../styles/abstracts' as *;

.card {
    position: relative;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    background: $color-primary-light;
    @include block($color-primary-light);

    &:last-child {
        margin-bottom: $header-height;
    }

    svg {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 1.3rem;
        fill: $color-primary-dark;

        @include mq(medium) {
            top: 3rem;
            right: 3rem;
            width: 1.7rem;
        }
    }


    h4 {
        font-weight: 500;
    }


    p {
        margin-bottom: 1.5rem;
    }


    img {
        max-width: 100%;
    }
}



