@use '../../../styles/abstracts' as *;

.container {
    background: $color-primary-dark;
    padding-top: $header-height;
}

.title {
    color: $color-primary-dark;
    text-transform: uppercase;
    text-align: center;
    @include block($color-primary-light);
    padding: 2.5rem 1.5rem;
    font-weight: 400;

    @include mq(large) {
        text-align: unset;
    }

    h3 {
        
        @include mq(large) {
        margin-left: 4rem;
        text-align: unset;
        }
    }
}


