@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.container {
    background: $color-primary-dark;
    padding-top: $header-height;
}

.title {
    color: $color-primary-dark;
    text-transform: uppercase;
    text-align: center;
    @include block($color-primary-light);
    padding: 2.5rem 1.5rem;
    font-weight: 400;
}


