@use '../../../styles/abstracts' as *;

.container {
    position: relative;
    padding: 3rem 0;
    // max-width: 90rem;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;

    @include mq(large) {
        height: 100vh;
    }
}

.statement {
    font-weight: 300;
    color: $color-primary-dark;
    padding: 0 2rem;
    align-self: center;

    @include mq(large) {
        justify-self: center;
    }
}

.values {
    padding: 0 2rem;
    color: $color-primary-light;
    align-self: self-start;
    mix-blend-mode: difference;
    z-index: 1;

    @include mq(large) {
        align-self: center;
    }

}

.js_animation {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 120vw;
    height: 15rem;
    border-radius: 50%;
    background: $color-primary-dark;

    @include mq(xsmall){
        bottom: -20%;
    }

    @include mq(small) {
        bottom: -10%;
    }

    @include mq(large) {
        bottom: -25%;
        height: 24rem;
    }

    
}

