@use '../../styles/abstracts' as *;

.container {
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    mix-blend-mode: difference;
    @include mq(large){
        bottom: unset;
    }

    a {
        color: $color-primary-light;
    }
}

.nav {
   font-size: $font-size-h5;

//    background: $color-primary-light;

//    &__logo {
//     font-weight: $font-weight-900;
//    }

    .logo {
        fill: $color-highlight-orange;
    }

   &__item {
    font-weight: $font-weight-400;
   }

   ul {
    display: flex;
    justify-content: flex-end;

    @include mq(large){
        // justify-content: space-between;
    }
   }

   li {
    padding: 0.5rem;

    @include mq(large){
        padding: 1rem 1rem 0;
    }
   }

   a {
    padding: .5rem 0;
   }
}
