@use '../../styles/abstracts' as *;

.container {
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
}

.nav {
   font-size: $font-size-h5;
   background: $color-primary-light;

   &__logo {
    font-weight: $font-weight-900;
   }

   &__item {
    font-weight: $font-weight-400;
   }

   ul {
    display: flex;
    justify-content: space-evenly;
   }

   li {
    padding: 1rem 0;
   }

   a {
    padding: .5rem 0;
   }
}
