@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Michroma&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
.h1 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

h2,
.h2 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

h3,
.h3 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

h4,
.h4 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

h5,
.h5 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

h6,
.h6 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

body {
  background: #fcf8f4;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  position: relative;
}

section {
  height: 100vh;
}

.container {
  padding: 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #1c1c1e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.5rem;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media screen and (min-width: 576px) {
  .col-1-sm {
    grid-column: span 1;
  }
  .col-2-sm {
    grid-column: span 2;
  }
  .col-3-sm {
    grid-column: span 3;
  }
  .col-4-sm {
    grid-column: span 4;
  }
  .col-5-sm {
    grid-column: span 5;
  }
  .col-6-sm {
    grid-column: span 6;
  }
  .col-7-sm {
    grid-column: span 7;
  }
  .col-8-sm {
    grid-column: span 8;
  }
  .col-9-sm {
    grid-column: span 9;
  }
  .col-10-sm {
    grid-column: span 10;
  }
  .col-11-sm {
    grid-column: span 11;
  }
  .col-12-sm {
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  .col-1-md {
    grid-column: span 1;
  }
  .col-2-md {
    grid-column: span 2;
  }
  .col-3-md {
    grid-column: span 3;
  }
  .col-4-md {
    grid-column: span 4;
  }
  .col-5-md {
    grid-column: span 5;
  }
  .col-6-md {
    grid-column: span 6;
  }
  .col-7-md {
    grid-column: span 7;
  }
  .col-8-md {
    grid-column: span 8;
  }
  .col-9-md {
    grid-column: span 9;
  }
  .col-10-md {
    grid-column: span 10;
  }
  .col-11-md {
    grid-column: span 11;
  }
  .col-12-md {
    grid-column: span 12;
  }
}
@media screen and (min-width: 1440px) {
  .col-1-lg {
    grid-column: span 1;
  }
  .col-2-lg {
    grid-column: span 2;
  }
  .col-3-lg {
    grid-column: span 3;
  }
  .col-4-lg {
    grid-column: span 4;
  }
  .col-5-lg {
    grid-column: span 5;
  }
  .col-6-lg {
    grid-column: span 6;
  }
  .col-7-lg {
    grid-column: span 7;
  }
  .col-8-lg {
    grid-column: span 8;
  }
  .col-9-lg {
    grid-column: span 9;
  }
  .col-10-lg {
    grid-column: span 10;
  }
  .col-11-lg {
    grid-column: span 11;
  }
  .col-12-lg {
    grid-column: span 12;
  }
}

/*# sourceMappingURL=main.css.map */
